* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #323d43;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 32px;
}

.section{
  margin: 16px 0;
}

.header {
  background-color: #afd1e3;
  height: 80px;
} 

.nav{
  display: flex;
  align-items: center;
  justify-content: end;

  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #42525a;
  font-size: 18px;
  font-weight: 500;

  transition: color 0.3s;
}

.nav-link:active,
.nav-link:hover {
  color: #85a3b3;
}

.section.main{
  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 64px;

}

.heading-primary{
  font-size: 44px;
  font-weight: 400;
}

.avatar{
  border-radius: 50%;
}

.heading-secondary{
  font-size: 24px;
  font-weight: 500;
}

.list-item {
  list-style: none;
}


.link:link,
.link:visited{
  text-decoration: none;
  color: #42525a;

  transition: color 0.3s;
}

.link:active,
.link:hover {
  color: #85a3b3;
}

.footer {
  background-color: #afd1e3;
  height: 80px;
}

.footer .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 30px;
}

.footer-link:link,
.footer-link:visited{
  display: inline-block;
  text-decoration: none;
  color:#42525a;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;

  transition: color 0.3s;
}

.footer-link:active,
.footer-link:hover {
  color: #85a3b3;
}